@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import "tailwindcss";
@plugin '@tailwindcss/forms';
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}
h1, h2 {
  font-family: 'DM Serif Display', serif;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

button,
[role='button'] {
  cursor: pointer;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
}

@theme {

  --color-yellow-50: #ffe090;
  --color-yellow-100: #ffee96;
  --color-yellow-150: #ffcc01;
  --color-light-grey: #fcfcfc;
  --color-dark-grey: #0f172b;
}